<!doctype html>
<html>
<head>
    <title>Edit Student</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
      <div class="container">
    
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img
            src="https://images.seeklogo.com/logo-png/55/1/kyambogo-college-school-logo-png_seeklogo-556240.png"
            width="40"
            height="40"
            class="me-2"
            alt="logo"
          />
          <strong>Kyambogo College School</strong>
        </a>

        <button class="navbar-toggler" type="button"data-bs-toggle="collapse"data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- nav links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/add">Add Student</a>
            </li>               
          </ul>

       </div>
      </div>
    </nav>

<div class="container mt-5">

    <h3>Edit Record</h3>

    <form method="POST">
        {% csrf_token %}

        <input name="name" value="{{student.name}}" class="form-control mb-2">

        <input name="student_id" value="{{student.student_id}}" class="form-control mb-2">

        <label>
            <input type="checkbox" name="is_present"
            {% if student.is_present %}checked{% endif %}>
            Present
        </label>

        <br><br>

        <button class="btn btn-warning">Update</button>
        <a href="/" class="btn btn-secondary">Cancel</a>

    </form>

</div>

</body>
</html>