<!doctype html>
<html>
  <head>
    <title>Student Attendance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow">
      <div class="container">
    
        <a class="navbar-brand d-flex align-items-center" href="/">
          <img
            src="https://images.seeklogo.com/logo-png/55/1/kyambogo-college-school-logo-png_seeklogo-556240.png"
            width="40"
            height="40"
            class="me-2"
            alt="logo"
          />
          <strong>Kyambogo College School</strong>
        </a>

        <button class="navbar-toggler" type="button"data-bs-toggle="collapse"data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- nav links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/add">Add Student</a>
            </li>               
          </ul>

       </div>
      </div>
    </nav>

    <div class="container mt-5">
      <h2 class="mb-4 text-center">Student Attendance System</h2>

      <a href="/add" class="btn btn-primary mb-3">+ Add Record</a>

      <table class="table table-bordered table-striped">
        <thead class="table-success">
          <tr>
            <th>Name</th>
            <th>Student ID</th>
            <th>Is Present</th>
            <th>Date</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          {% for student in students %}
          <tr>
            <td>{{student.name}}</td>
            <td>{{student.student_id}}</td>
            <td>
              {% if student.is_present %}
              <span class="text-success">Present</span>
              {% else %}
              <span class="text-danger">Absent</span>
              {% endif %}
            </td>
            <td>{{student.date}}</td>
            <td>
              <a href="/view/{{student.id}}" class="btn btn-sm btn-success"
                >View</a
              >
              <a href="/update/{{student.id}}" class="btn btn-sm btn-warning"
                >Edit</a
              >
              <a href="/delete/{{student.id}}" class="btn btn-sm btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="5" class="text-center">No records found</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
